<<<<<<< HEAD
/*.Linktext {
  color: white;
  margin: 1rem;

}*/

.sublinkmain,.sublinknotice, .sublinkcenter{
  margin-right:1rem ;
  color: white;
  opacity: 0.8;
  
}
.sublink{
  display: flex;
  margin: auto;
  margin-left: 1rem;
  font-size: 1.0rem;
  color: white;
  
  
}
.sublinkmain:hover,.sublinknotice:hover, .sublinkcenter:hover{

opacity: 1.0;
}
.sublinkmain:active,.sublinknotice:visited, .sublinkcenter:active{

  opacity: 1.0;
}
.titlelink,.sublink,.sublinkmain,.sublinknotice, .sublinkcenter{
  text-decoration: none !important;
=======
.Linktext {
  color: white;
  margin: 1rem;
>>>>>>> 6f9e1569124e2d4fc9f5105fc0e161e163d96ca6
}
.app-title {
  margin: 1rem;
  font-size: 2rem;
<<<<<<< HEAD
  color: white;

=======
>>>>>>> 6f9e1569124e2d4fc9f5105fc0e161e163d96ca6
}
.todoTemplate {
  //전체적인그거
  color: white;
  font-size: 1.5rem;
  text-align: left;
  //padding-top: 30px;
  //padding-left: 2rem;
<<<<<<< HEAD
  background-color: rgb(37, 48, 63);
=======
  background-color: rgb(14, 63, 128);
>>>>>>> 6f9e1569124e2d4fc9f5105fc0e161e163d96ca6
  //height: 4rem;
  overflow: hidden;
  display: flex;
  // justify-content: center;
<<<<<<< HEAD
  
}

=======
}
>>>>>>> 6f9e1569124e2d4fc9f5105fc0e161e163d96ca6
